main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
.content {
    border: var(--pico-border-width) solid var(--pico-secondary-border);
    border-radius: var(--pico-border-radius);
    padding: 20px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.timer {
    display: flex;
    align-items: end;
    gap: 5px;

    .ms {
        font-size: x-small;

    }
}

.timestamp {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    justify-content: space-between;
}